.newsletter {
  background: #17bf9e;
 
  padding: 60px;
  border-radius: 15px;
  
}

.newsletter h2 {
  color: #fff;
}

.footerpic{
  width:150px;
  height:150px;
  transform: rotate(90deg);
  margin-top: 10px;
}

button {
  width: 242px;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
